body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
}

ul{
    list-style: none;
}

header{
    text-align: center;
    background: black;
    color: white;
    padding: 0.5rem;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.results-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.numerical-scores{
    text-align: center;
}

.result-output{
    text-align: center;
}

.game-section{
    background-color: #FFC83D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
    flex: 1;
}

.player, .computer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices button{
    padding: 1rem 2rem;
    font-family: inherit;
    border-radius: 1rem;
    border-color: white;
    transition-duration: 0.5s;
}

.choices button:hover{
    background-color: black;
    color: white;
    border-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.choices button:active {
    transform: translateY(1rem);
  }

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin-top: auto;
}