/* GLOBAL */
html {
    scroll-behavior: smooth;
}

html * {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: #353839;
    color: white;
}

/* FOOTER */
footer {
    background-color: #353839;
    color: white;
}

/* MAIN CONTENT */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* VISUAL ACTIONS AND SCORES */
section.actions-and-scores {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
}

section.actions-and-scores .human, 
section.actions-and-scores .computer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

/* HUMAN ACTION BUTTONS */
section.human-actions {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

section.human-actions button.action {
    cursor: pointer;
}

/* GAME OUTCOME MODAL */
#game-outcome-modal-container {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* hides modal initially and allows to click main page instead of modal */
    opacity: 0;
    pointer-events: none;
}

#game-outcome-modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#game-outcome-modal {
    background-color: white;
}

#game-outcome-modal footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-outcome-modal footer button.play-again {
    cursor: pointer;
}